<div class="container">
  <h2 class="title-lg mb"> Нове Питання </h2>
  <!-- форма описана в HTML
  <form action="/questions" method="POST">
  <p><label for= "question[body]">Текст вопроса</label></p>
  <p><textarea name="question[body]" rows=7></textarea></p>
  <p><label for= "question[user_id]">User ID</label></p>
  <p><input type="number" name="questions[user_id]"></p>
  <p><input type="submit" value="Создать"></p>
  </form>
  -->
  <!-- форма описана в Form helper перенесена в паршал _форм -->
  <%= render 'form', question: @question %>
</div>
